.button{
    -fx-opacity: 1;
    -fx-transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-opacity: 0.8;
}

.button:pressed {
    -fx-opacity: 0.5;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}
